
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 20px;
}
@media only screen and (max-width:1800px) {
    p{
        font-size: 16px;
    }
}

#bg-img{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
}

#img1{
    width: 200px;
    text-align: center;
    padding: 15px;
}

.bg{
    background-color: rgba(0, 0, 0, 0.781);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
}
/* @media only screen and (max-width: 1000px){ */
@media only screen and (max-width: 1800px){
    .bg-content h1{
        font-size: 26px;
    }
    .bg-content p{
        font-size: 15px;
    }
    .bg{
        background-color: rgba(0, 0, 0, 0.781);
        width: 100%;
        height: 112vh;
        position: fixed;
        left: 0;
    }
    .bg #img1{
        display: none;
    }
    .login{
        position: absolute;
        top: -50px;
        width: 100%;
    }
}

.bg-content{
    padding: 20px;
    color: white;
    margin-top: 20px;
}
.bg-content h1{
    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2.5px;
}
.bg-content p{
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    color: rgb(238, 238, 238);
}

.search{
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    background-color: white;
}
.search-button{
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    background-color: rgb(0, 153, 255);
    color: white;
    text-transform: uppercase;
    transition: all 1s ease-in;
}
.search-button:hover{
    background-color: transparent;
    border: 1px solid white;
    color: rgb(0, 153, 255);
}

.login{
    width: 100%;
    padding: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.login a{
    width: 25%;
    padding: 15px;
    margin-top: 80px;
    color: white;
    border: 1px solid white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    transition: all 1s ease-in;
}
.login a:hover{
    background-color: rgb(0, 153, 255);
    transform: scale(1.1px);
    border: none;
}


/* for search */
.search-img{
    width: 100%;
    display: flex;
    padding: 15px;
}
.search-img img{
    width: 70px;
}
.search-img h3{
    text-transform: capitalize;
    font-weight: 800;
    color: rgb(39, 39, 39);
}

.search-box{
    background-color: rgb(236, 236, 236);
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
}
.search-box img{
    width: 160px;
}

/* for darshboard */
.top-menu{
    display: flex;
    margin: 10px;
    padding: 10px;
}
.top-menu a{
    margin: 10px;
    padding: 30px;
    width: 100%;text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    color: white;
    border-radius: 5px;
    background-color: rgb(21, 158, 21);
    text-decoration: none;
    transition: all 1.5s ease;
}
.top-menu a:hover{
    background-color: rgb(99, 212, 99);
}

.body a{
    text-decoration: none;
}
.bodys{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    text-transform: capitalize;
    transition: all 1.5s ease;
}
.bodys:hover{
    background-color: rgb(248, 248, 248);
}
.body-contect{
    display: flex;
    justify-content: space-between;
    color: black;
}
.body-contect a{
    color: rgb(0, 153, 255);
}
