
{% extends 'include/links.html' %}
{% load static %}
{% block content %}

<body>
    <div>

        <div class="col-md-12">
            <div class="col-md-12">
                
                {% include 'include/naves.html' %}

                <div class="col-md-12">
                    <div class="body">
                        <div class="bodys">
                            <div class="body-contect">
                                <div>
                                    <label for="">image</label><br>
                                    <img src="{% static 'image/008.png' %}" alt="image" width="50">
                                </div>
                                <div>
                                    <label for="">name</label>
                                    <h4>items</h4>
                                </div>
                                <div>
                                    <label for="">ID number</label>
                                    <h4>imopoly-39754839</h4>
                                </div>
                            </div>
                            <hr>
                            <div class="body-contect">
                                <div>
                                    <a href="staffs.html">name of the person</a>
                                </div>
                                <div>
                                    <a href="">edit item</a>
                                </div>
                                <div>
                                    <a href="">delet item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}