
{% extends 'include/links.html' %}
{% load static %}
{% block content %}

<body>
    <div>

        <div class="col-md-12">
            <img src="{% static 'image/bg.jpg' %}" alt="bg image" id="bg-img">
            <div class="col-md-12 bg">
                <div class="col-md-12 bg-content">
                    <h1>asset inventory tracking system</h1>
                    <p>login to your dashboard</p>
                </div>

                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-6" style="background-color: rgb(0, 153, 255);" id="img1">
                            <div>
                                <img src="{% static 'image/Register.png' %}" alt="image">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <form action="dashboard.html">
                                    <input type="text" placeholder="Enter User Name" name="username" class="search">
                                    <input type="password" placeholder="Enter Password" name="password" class="search">
                                    <button class="search-button">login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}